* {
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    box-sizing: border-box;
}

body {
    color: #333;
    background-color: #fff;
    margin: 0;
    display: block;
    margin: 8px;
}

div {
    display: inline-block;
}

.container {
    margin-right: auto;
    margin-left: auto;
    max-width: 1280px;
    padding-left: 10px;
    padding-right: 10px;
}

.product {
    height: 425px;
    margin-bottom: 10px;
}

.upoutavka {
    text-align: center;
    border: 1px #fff solid;
    width: 280px;
}

.obrazek {
    height: 230px;
    overflow: hidden;
    margin-top: 10px;
}

.obrazek div {
    display: block;
    text-align: center;
}

img {
    max-height: 230px;
    vertical-align: middle;
}

.title_nazev {
    text-align: center;
    font-size: 18px;
    background: rgba(255,255,255,0.9);
    top: 80px;
}

.nazev {
    display: block;
    text-align: center;
    height: 50px;
    overflow: hidden;
    max-width: 250px;
    margin: 0 auto;
}

.nakup {
    max-width: 240px;
    display: block;
    background: #fff;
    padding-bottom: 10px;
}

.cenik {
    max-width: 120px;
    text-align: left;
}

.cena {
    display: inline-block;
}

.neplati {
    display: block;
    font-size: 10px;
    color: #5F5F5F;
    text-decoration: line-through;
    text-align: right;
}

.aktualni {
    font-size: 25px;
    color: #222222;
    line-height: 25px;
}

.bezdph {
    display: block;
    font-size: 10px;
    color: #5F5F5F;
    text-align: right;
}

.kosik {
    max-width: 120px;
    width: 50%;
    float: right;
}

.kosik p {
    margin: 0px;
    justify-self: center;
    height: 40px;
    background: #4BB900 url(https://www.max-shop.cz/media/images/cart_green.png) left 5px center no-repeat;
    background-size: 18px;
    border: none;
    border-radius: 2px;
    font-size: 15px;
    font-weight: bold;
    color: #fff;
    display: block;
}

.hodnoceni_box {
    border: 2px #e3e3e3 solid;
    background: #f7f7f7;
}

.hodnoceni {
    float: left;
    width: 50%;
    padding: 10px;
}

.nehodnoceno {
    display: block;
    width: 100px;
    height: 20px;
    background: url(https://www.max-shop.cz/media/images/stars_norate.png) left center no-repeat;
    background-size: 100px 20px;
}

.skladem {
    color: #4BB900;
    font-size: 12px;
    text-align: center;
    padding: 2px 5px;
    line-height: 35px;
    position: relative;
}